.header {
  background-color: gray;
  width: 100%;
  margin: 0px;
}

.card {
  width: 70%;

  margin: 0 auto !important;
}

.card-body {
  background-color: white !important;
  margin: 0 auto !important;
}

.card-text {
  background-color: white;
}

.btn {
  width: auto;
}
